@charset "UTF-8";
@import "compass";

$font-main  :'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
$font-sub   :'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝',serif;
$body-bg    :#f7f7f7;
$link-txt-clr :#1c1c1c;

/*for pc or general*/
$pc-site-w               :1024px;

/*header*/
$pc-site-header-mb       :15px;
$pc-wbo-menu-bottom-mt   :20px;
$pc-site-search-ml       :10px;
$pc-site-search-mt       :2px;
$pc-wbo-menu-sns-li-pr   :10px;
$pc-wbo-menu-sns-li-a-w  :36px;
$pc-wbo-menu-sns-li-a-h  :36px;

/*main-nav*/
$pc-main-navigation-area-w :25%;

$pc-main-navigation-p      :25px;
$pc-nav-menu-mb-IN-main-navigation      :5%;
$pc-nav-menu-pb-IN-main-navigation      :5%;
$pc-button-login-p         :5px;
$pc-button-login-mb        :0;

/*contents*/
$pc-content-area-w         :73%;
$pc-content-area-w-Index   :75%;
$pc-post-area-w-IN-home    :31%;
$pc-post-area-mr-IN-home   :2%;
$pc-post-p-IN-home         :10px;
$pc-site-title-pt          :10px;
$pc-site-title-fs          :40px;

/*footer*/
$pc-site-footer-mt         :30px;
$pc-site-footer-pt         :10px;
$pc-site-footer-pb         :40px;
$pc-site-footer-fs         :10px;
$pc-footer-widget-area-pt  :30px;
$pc-footer-widget-area-pb  :30px;
$pc-widget-w-IN-footer-widget-area       :25%;
$pc-footer-widget-category-ul-ml         :40px;  
$pc-tags-links-w           :40px;
$pc-nav-dummy-w            :250px;
$pc-nav-dummy-img-mb       :30px;

/*for tablet*/
$tb-max-w                    :1023px;
$tb-min-w                    :481px;
$tb-site-w                   :95%;

/*main-nav*/
$tb-main-navigation-area-w   :33%;

/*contents*/
$tb-content-area-w       :64%;
$tb-content-area-w-Index :66%;
$tb-post-area-w-IN-home  :48%;

/*for mobile*/
$mb-max-w                 :480px;
$mb-site-w                :95%;

/*contents*/
$mb-content-area-w        :100%;
$mb-post-area-w-IN-home   :100%;
$mb-post-area-mr-IN-home  :0;
$mb-widget-w-IN-footer-widget-area :100%;

/*img-path*/
$img-path                        :'img/';
$img-wbo-arrow_up           :'#{$img-path}wbo_arrow_up_f.png';
$img-wbo-arrow_up-o         :'#{$img-path}wbo_arrow_up_o.png';
$img-wbo-arrow_down         :'#{$img-path}wbo_arrow_down_f.png';
$img-wbo-arrow_down-o       :'#{$img-path}wbo_arrow_down_o.png';
$img-wbo-sns-twitter        :'#{$img-path}wbo_twitter_f.png';
$img-wbo-sns-twitter-o      :'#{$img-path}wbo_twitter_o.png';
$img-wbo-sns-facebook       :'#{$img-path}wbo_facebook_f.png';
$img-wbo-sns-facebook-o     :'#{$img-path}wbo_facebook_o.png';
$img-wbo-sns-pinterest      :'#{$img-path}wbo_pinterest_f.png';
$img-wbo-sns-pinterest-o    :'#{$img-path}wbo_pinterest_o.png';
$img-wbo-sns-tumblr         :'#{$img-path}wbo_tumblr_f.png';
$img-wbo-sns-tumblr-o       :'#{$img-path}wbo_tumblr_o.png';

@mixin b-bk-1{border: 1px solid #1c1c1c;}
@mixin bt-bk-1{border-top: 1px solid #1c1c1c;}
@mixin bg-clr-wh {background-color:#fff;}

@mixin tomo-add-1{box-sizing: border-box;}
@mixin tomo-add-2{clear:both;}

@mixin tag-cate-btn-1 { /* kanagawa-add */
	color:#fff;
	font-size:10px;
	padding:2px 7px 1px 7px;
	background-color: #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
}

@mixin li-a-bg-img ($img,$pos1:left,$pos2:center) {
	display: block;
	background-image: url($img);
	background-repeat: no-repeat;
	background-position: $pos1 $pos2;
}
@mixin li-a-bg-img-hover ($img) {background-image: url($img);}

@mixin li-a-bg-img-pd ($pt:10px,$pr:10px,$pb:8px,$pl:40px) {padding:$pt $pr $pb $pl;}

@mixin page-top-fixed-posbr ($posb:10px,$posr:20px,$zindx:999998){
	position: fixed;
	bottom: $posb;
	right: $posr;
	z-index: $zindx;

}

/*moto
----------------------------------------------- */
/* =Widgets
------------- */
/* widget to add*/
.widget {margin: 0;}

/* Links */
a {
	color: $link-txt-clr;
	text-decoration: none;
}
a:visited {
	color: $link-txt-clr
}
a:hover,
a:focus,
a:active {
	color: $link-txt-clr;
	text-decoration: underline;
}

/*body
-------------------------------------*/
body {
	background: $body-bg;
	font-family:$font-main;
}

.site {
	width: $pc-site-w;
	margin: 0 auto;
	@include tomo-add-1;
}

/*header
-------------------------------------*/
.site-header {
	margin-bottom: $pc-site-header-mb;
}

.site-branding {}
.site-title {
	padding-top: $pc-site-title-pt;
	font-size: $pc-site-title-fs;
	font-family: $font-sub;
}
.site-title > a {}

.wbo-menu-bottom {
	margin-top: $pc-wbo-menu-bottom-mt;
}
.wbo-menu-pages {
	float:left;
	ul,
	ul li {
		margin: 0; padding: 0;
		font-family: $font-sub;
	}
	ul li {
		list-style-type: none;
	}
	ul li a{
		@include li-a-bg-img ($img-wbo-arrow_down);
		@include li-a-bg-img-pd;
	}
	ul li a:hover{
		@include li-a-bg-img-hover ($img-wbo-arrow_down-o);
	}
}
.menu {} //※
.menu-item {}
.site-search {
	margin-left: $pc-site-search-ml;
	margin-top: $pc-site-search-mt;
	float: right;
}
.widget_search {}
.search-form {}
.search-form > label {}
.screen-reader-text {}
.search-field {}
.search-submit {}
.wbo-menu-right { float: right; }
.wbo-menu-sns {
	float: right;
	ul li {
		list-style-type: none;
		float: left;
		padding-right: $pc-wbo-menu-sns-li-pr;
	}
	ul li a.sns-twitter        {@include li-a-bg-img ($img-wbo-sns-twitter);}
	ul li a.sns-twitter:hover  {@include li-a-bg-img-hover ($img-wbo-sns-twitter-o);}
	ul li a.sns-facebook       {@include li-a-bg-img ($img-wbo-sns-facebook);}
	ul li a.sns-facebook:hover {@include li-a-bg-img-hover ($img-wbo-sns-facebook-o);}
	ul li a.sns-pinterest      {@include li-a-bg-img ($img-wbo-sns-pinterest);}
	ul li a.sns-pinterest:hover{@include li-a-bg-img-hover ($img-wbo-sns-pinterest-o);}
	ul li a.sns-tumblr         {@include li-a-bg-img ($img-wbo-sns-tumblr);}
	ul li a.sns-tumblr:hover   {@include li-a-bg-img-hover ($img-wbo-sns-tumblr-o);}
	ul li a{
		width: $pc-wbo-menu-sns-li-a-w;
		height: $pc-wbo-menu-sns-li-a-h;
	}
}

/*content
-------------------------------------*/
.site-content {
}
/*nav in content
-------------------------------------*/
.main-navigation-area{
	float: right;
	width: $pc-main-navigation-area-w;
}
.main-navigation {
	padding: $pc-main-navigation-p;
	@include bg-clr-wh;
	@include tomo-add-1;
	font-family: $font-sub;
}
.main-navigation {
	ul.nav-menu{
		margin-bottom:$pc-nav-menu-mb-IN-main-navigation;
		padding-bottom:$pc-nav-menu-pb-IN-main-navigation;
	}
}
.menu-toggle {} 				
.skip-link {}

.menu {} //※
.menu > ul {} //※
.button-login {
	padding:$pc-button-login-p;
	margin-bottom: $pc-button-login-mb;
	@include b-bk-1;
	text-align: center;
}

/*content in content
-------------------------------------*/
.content-area {
	float: left;
	width: $pc-content-area-w;
	@include tomo-add-1;
}
/*main
-------------------------------------*/
.site-main {}

/*article
-------------------------------------*/
.content-area {
	width: $pc-content-area-w
		;
}
.home,
.archive {
	.content-area {
		width: $pc-content-area-w-Index;
	}
	.post-area {
		float: left;
		width: $pc-post-area-w-IN-home;
		margin-right: $pc-post-area-mr-IN-home;
	}
	.post {
		padding: $pc-post-p-IN-home;
		@include bg-clr-wh;
		@include tomo-add-1;
	}
	.post:hover {
		box-shadow: 0px 3px 6px rgba(99, 99, 111, 0.6);
	}
}

.format-standard{} //*
.format-image {} //*
.post-password-required {} //*
.category-photo {} //*


/*header
-------------------------------------*/
.entry-header {}
.entry-header > a {}
.attachment-post-thumbnail {}
.wp-post-image {}
.entry-title {}
.entry-title > a {}
.entry-content {}

/*footer
-------------------------------------*/
.entry-meta {}
.entry-meta {
	.cat-links > a,
	.tags-links > a {
		@include tag-cate-btn-1;
	}
}
.cat-links {}
.cat-links > a {}
.tags-links {}
.tags-links > a {}

/*pagenation
-------------------------------------*/
.paging-navigation {}
.nav-previous {}
.nav-previous > a {}
.meta-nav {}

.widget-area {} //*secondary 多分いらないと思う

/*page-top
-------------------------------------*/
.page-top{
	@include page-top-fixed-posbr;
	a {
		@include li-a-bg-img ($img-wbo-arrow_up);
		display:block;
		width: 36px;
		height: 36px;
	}
	a:hover  {@include li-a-bg-img-hover ($img-wbo-arrow_up-o);}
}

/*footer-widget-area
-------------------------------------*/
.footer-widget-area {
	@include tomo-add-2;
	@include bt-bk-1;
	.widget{
		width: $pc-widget-w-IN-footer-widget-area;
		float: left;
		font-family: $font-sub;
	}
	.footer-widget-category{
		padding: $pc-footer-widget-area-pt 0 $pc-footer-widget-area-pb;
		h1 a{
			@include li-a-bg-img ($img-wbo-arrow_up);
			@include li-a-bg-img-pd;
		}
		h1 a:hover{
			@include li-a-bg-img-hover ($img-wbo-arrow_up-o);
		}
		ul{
			margin: 0 0 0 $pc-footer-widget-category-ul-ml; padding: 0;
		}
		ul li {
			margin: 0; padding: 0;
			list-style-type: none;
		}
		ul li a{
			@include li-a-bg-img-pd($pt:5px,$pb:10px,$pl:5px);
		}
		ul li:before { content:"-"; }
	}

	.footer-widget-tag{
		padding: $pc-footer-widget-area-pt 0 $pc-footer-widget-area-pb;
		h1 a{
			@include li-a-bg-img ($img-wbo-arrow_down);
			@include li-a-bg-img-pd;
		}
		h1 a:hover{
			@include li-a-bg-img-hover ($img-wbo-arrow_down-o);
		}
		.tags-links {
			padding-left: $pc-tags-links-w;
			font-family:$font-main;
		}
		.tags-links > a {
			@include tag-cate-btn-1;
		}	
	}
	.footer-widget-page{
		padding: $pc-footer-widget-area-pt 0 $pc-footer-widget-area-pb;
		ul,
		ul li {
			margin: 0; padding: 0;
		}
		ul li {
			list-style-type: none;
		}
		ul li a{
			@include li-a-bg-img-pd($pt:5px,$pb:10px);
		}
		ul li:first-child a{
			@include li-a-bg-img ($img-wbo-arrow_down);
			@include li-a-bg-img-pd;
		}
		ul li:first-child a:hover{
			@include li-a-bg-img-hover ($img-wbo-arrow_down-o);
		}	
	}
	.footer-widget-sns{
		padding: $pc-footer-widget-area-pt 0 $pc-footer-widget-area-pb;
		ul,
		ul li {
			margin: 0; padding: 0;
		}
		ul li {
			list-style-type: none;
		}
		ul li a.sns-twitter        {@include li-a-bg-img ($img-wbo-sns-twitter);}
		ul li a.sns-twitter:hover  {@include li-a-bg-img-hover ($img-wbo-sns-twitter-o);}
		ul li a.sns-facebook       {@include li-a-bg-img ($img-wbo-sns-facebook);}
		ul li a.sns-facebook:hover {@include li-a-bg-img-hover ($img-wbo-sns-facebook-o);}
		ul li a.sns-pinterest      {@include li-a-bg-img ($img-wbo-sns-pinterest);}
		ul li a.sns-pinterest:hover{@include li-a-bg-img-hover ($img-wbo-sns-pinterest-o);}
		ul li a.sns-tumblr         {@include li-a-bg-img ($img-wbo-sns-tumblr);}
		ul li a.sns-tumblr:hover   {@include li-a-bg-img-hover ($img-wbo-sns-tumblr-o);}
		ul li a{
			display:block;
			@include li-a-bg-img-pd();
		}
	}
}

/*footer
-------------------------------------*/
.site-footer {
	@include tomo-add-2;
	margin-top: $pc-site-footer-mt;
	padding: $pc-site-footer-pt 0 $pc-site-footer-pb;
	font-size: $pc-site-footer-fs;
	text-align: center;
	@include bt-bk-1;
}
.site-info {}

@media (max-width:$tb-max-w) and (min-width:$tb-min-w) {
	.site{
		width: $tb-site-w;
	}
	.main-navigation-area {
		width: $tb-main-navigation-area-w;
	}
	.content-area {
		width: $tb-content-area-w;
	}
	.home,
	.archive {
		.content-area {
			width: $tb-content-area-w-Index;
		}
		.post-area {
			width: $tb-post-area-w-IN-home;	
		}
	}
}

@media (max-width:$mb-max-w) {
	.site{
		width: $mb-site-w;
	}
	.main-navigation-area {
		float: none;
		display: none;
	}
	.content-area {
		float: none;
		width: $mb-content-area-w;
	}
	.home,
	.archive {
		.content-area {
			width: $mb-content-area-w;
		}
		.post-area {
			width: $mb-post-area-w-IN-home;	
			float: none;
			margin-right: $mb-post-area-mr-IN-home;
		}
	}
	.footer-widget-area {
		.widget{
			width: $mb-widget-w-IN-footer-widget-area;
			float: none;
		}
	}
}

