/*footer-widget-area
-------------------------------------*/
.footer-widget-area {
	@include tomo-add-2;
	@include bt-bk-1;
	.widget{
		width: $pc-widget-w-IN-footer-widget-area;
		padding: $pc-footer-widget-area-pt 0 $pc-footer-widget-area-pb;
		float: left;
		font-family: $font-sub;
		h1{
			display:block;
			cursor:pointer;
			@include bg-img ($img-wbo-arrow_up);
			@include bg-img-pd;
			&:hover{
				@include bg-img-hover ($img-wbo-arrow_up-o);
			}
			&.toggled{
				@include bg-img ($img-wbo-arrow_down);
				&:hover{@include bg-img-hover ($img-wbo-arrow_down-o);}
			}
		}
		ul{
	    	//display:none;
	    }
	}
	.footer-widget-category{
		ul{
			margin: 0 0 0 $pc-footer-widget-category-ul-ml; padding: 0;
		}
		ul li {
			margin: 0; padding: 0;
			list-style-type: none;
		}
		ul li a{
			@include bg-img-pd($pt:5px,$pb:10px,$pl:5px);
		}
		ul li:before { content:"-"; }
	}

	.footer-widget-tag{
		ul{
			margin: 0 0 0 $pc-footer-widget-category-ul-ml; padding: 0;
		}
		ul li {
			margin: 0; padding: 0;
			list-style-type: none;
			display: inline;
			font-family:$font-main;
		}
		ul li a {
			@include tag-cate-btn-1;
		}	
	}
	.footer-widget-page{
		ul{
			margin: 0 0 0 $pc-footer-widget-category-ul-ml; padding: 0;
		}
		ul li {
			margin: 0; padding: 0;
			list-style-type: none;
		}
		ul li a{
			@include bg-img-pd($pt:5px,$pb:10px,$pl:5px);
		}
		ul li:before { content:"-"; }
	}
	.footer-widget-sns{
		ul,
		ul li {
			margin: 0; padding: 0;
		}
		ul li {
			list-style-type: none;
		}
		ul li a.sns-twitter        {@include bg-img ($img-wbo-sns-twitter);}
		ul li a.sns-twitter:hover  {@include bg-img-hover ($img-wbo-sns-twitter-o);}
		ul li a.sns-facebook       {@include bg-img ($img-wbo-sns-facebook);}
		ul li a.sns-facebook:hover {@include bg-img-hover ($img-wbo-sns-facebook-o);}
		ul li a.sns-pinterest      {@include bg-img ($img-wbo-sns-pinterest);}
		ul li a.sns-pinterest:hover{@include bg-img-hover ($img-wbo-sns-pinterest-o);}
		ul li a.sns-tumblr         {@include bg-img ($img-wbo-sns-tumblr);}
		ul li a.sns-tumblr:hover   {@include bg-img-hover ($img-wbo-sns-tumblr-o);}
		ul li a{
			display:block;
			@include bg-img-pd();
		}
	}
}

/*footer
-------------------------------------*/
.site-footer {
	@include tomo-add-2;
	padding: $pc-site-footer-pt 0 $pc-site-footer-pb;
	font-size: $pc-site-footer-fs;
	text-align: center;
	@include bt-bk-1;
}
.site-info {}
