@charset "UTF-8";
@import "compass";

$font-main  :'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
$font-sub   :'ヒラギノ明朝 Pro W6','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝',serif;
$body-bg    :#f7f7f7;

body {
	background: $body-bg;
	font-family:$font-main;
}

.site {}

	/*header
	-------------------------------------*/
	.site-header {
		margin-bottom: 30px;
	}

		.site-branding {}
			.site-title {
					padding-top: 10px;
					font-size: 40px;
			}
			.site-title > a {}
		.wbo-menu-bottom {}
			.wbo-menu-pages {}
				.menu {} //※
					.menu-item {}
			.site-search {}
				.widget_search {}
					.search-form {}
						.search-form > label {}
						.screen-reader-text {}
							.search-field {}
							.search-submit {}
			.wbo-menu-right {}
				.wbo-menu-sns {}
				.wbo-menu-sns > ul {}
				.wbo-menu-sns > ul > li {}
					.sns1 {}
					.sns2 {}
					.sns3 {}
					.sns4 {}

	/*nav
	-------------------------------------*/
		.main-navigation {}
			/* for responsive */
			.menu-toggle {} 				
			.skip-link {}

			.menu {} //※
			.menu > ul {}　 //※
			.button-login {}
			.button-login > a {}

	/*content
	-------------------------------------*/
	.site-content {}
		.content-area {}

			/*main
			-------------------------------------*/
			.site-main {}

				/*article
				-------------------------------------*/
				.post {}
				.format-standard{} //*
				.format-image {} //*
				.post-password-required {} //*
				.category-photo {} //*


					/*header
					-------------------------------------*/
					.entry-header {}
					.entry-header > a {}
						.attachment-post-thumbnail {}
						.wp-post-image {}
						.entry-title {}
						.entry-title > a {}

					.entry-content {}

					/*footer
					-------------------------------------*/
					.entry-meta {}
						.cat-links {}
						.cat-links > a {}
						.tags-links {}
						.tags-links > a {}

				/*pagenation
				-------------------------------------*/
				.paging-navigation {}
					.nav-previous {}
					.nav-previous > a {}
						.meta-nav {}

		.widget-area {} //*secondary 多分いらないと思う

	/*footer-menu
	-------------------------------------*/
	.footer-widget-area {}
		.nav-dummy {}
		.nav-dummy > img {}

	/*footer
	-------------------------------------*/
	.site-footer {}
		.site-info {}